#section-landing-video {
    margin-top: 54px;
}


/* Grid general settings */

.landing-video-grid {
    /* Position */
    margin: 12px auto;
    /* Size */
    width: 90%;
    /* Children display */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 0.5em;
}

@media (orientation: landscape) {
    .landing-video-grid {
        grid-template-columns: 300px 160px;
        grid-template-rows: 29% 40% 29%;
        grid-gap: 20px;
    }
}


/* title item */

.grid-item.section-title {
    grid-column: 1 / 4;
    grid-row: span 1;
    text-align: center;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

@media (orientation: landscape) {
    .grid-item.section-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.grid-item.section-title>h1 {
    color: white;
    font-size: 2em;
}

.grid-item.section-title>*+* {
    margin-top: 8px;
}


/* video item */

.grid-item.video {
    margin: 0;
    width: 100%;
    grid-column: 1 / 4;
    grid-row: span 1;
    display: flex;
}

.video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#main-video {
    margin: 0 auto;
}

@media (orientation: landscape) {
    .grid-item.video {
        height: auto;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    #main-video {
        width: 90%;
    }
}


/* spacer to balance the youtube button and center order button */

.grid-item.spacer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

@media (orientation: landscape) {
    .grid-item.spacer {
        display: none;
    }
}

.grid-item.order {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

@media (orientation: landscape) {
    .grid-item.order {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

#btn-order {
    /* Position */
    margin: auto;
    /* Size */
    padding: 12px;
    /* Appearance */
    border: none;
    border-radius: 8px;
    background-color: orange;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}

.grid-item.youtube {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
}

@media (orientation: landscape) {
    .grid-item.youtube {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

#btn-youtube {
    /* Position */
    margin: 0 auto;
    /* Size */
    width: 42px;
    height: 42px;
    /* Appearence */
    background: url("../images/youtube.svg");
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}