#landing {
    /* background image */
    background-image: linear-gradient(to bottom, #AAA, white), url("../images/screenshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.content-container#landing {
    padding-top: 54px;
    padding-bottom: 54px;
    height: 80vh;
}

@media (orientation: landscape) {
    .content-container#landing {
        padding-top: 54px;
        padding-bottom: 54px;
        height: 100vh;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    .content-container#landing {
        padding-top: 54px;
        padding-bottom: 54px;
        height: 60vh;
    }
}


/* Grid general settings */

.landing-video-grid {
    /* Position */
    margin: 12px auto;
    /* Size */
    width: 90%;
    /* Children display */
    display: grid;
    grid-template-columns: 25% 50% 24%;
    grid-template-rows: 30% 65% 20%;
    column-gap: 1%;
    row-gap: 1%;
}

@media (orientation: landscape) {
    .landing-video-grid {
        grid-template-columns: 65% 34%;
        grid-template-rows: 29% 40% 29%;
    }
}


/* title item */

.grid-item.section-title {
    grid-column: 1 / 4;
    grid-row: span 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

@media (orientation: landscape) {
    .grid-item.section-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        /* margin: 8px auto; */
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

.grid-item.section-title h1 {
    color: white;
    font-size: 1.75em;
}

.grid-item.section-title h2 {
    font-size: 1.25em;
}

.grid-item.section-title>*+* {
    margin-top: 8px;
}


/* video item */

.grid-item.video {
    margin: 0;
    width: 100%;
    grid-column: 1 / 4;
    grid-row: span 1;
}


/* settings to allow responsive Youtube video element */

.video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#main-video {
    margin: 0 auto;
}

@media (orientation: landscape) {
    .grid-item.video {
        height: auto;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
    #main-video {
        width: 90%;
    }
}


/* spacer to balance the youtube button and center order button */

.grid-item.spacer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

@media (orientation: landscape) {
    .grid-item.spacer {
        display: none;
    }
}

.grid-item.order {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: landscape) {
    .grid-item.order {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#btn-order {
    /* Position */
    /* Size */
    padding: 12px;
    /* Appearance */
    border: none;
    border-radius: 8px;
    background-color: orange;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}

.grid-item.youtube {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: landscape) {
    .grid-item.youtube {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

#btn-youtube {
    /* Position */
    margin: 0 auto;
    /* Size */
    width: 42px;
    height: 42px;
    /* Appearence */
    background: url("../images/youtube.svg");
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}