.site-logo {
    width: 36px;
    height: 36px;
}

.menu-button {
    display: inline-block;
    border: 0;
    background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
    width: 32px;
    height: 6px;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
    border-radius: 3px;
}


/* nav menu button animation when clicked */

.change>div {
    background-color: gold;
}

.change .bar1 {
    /* Rotate first bar */
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    /* Fade out the second bar */
    opacity: 0;
}

.change .bar3 {
    /* Rotate last bar */
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.header-container {
    /* Position */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.nav-container {
    /* appearence */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    /* children display */
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    color: white;
}

.black-back {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.btn-container>button:hover>div {
    background-color: gold;
}

.logo-container {
    flex: 0 0 auto;
    padding: 8px;
}

.site-title {
    display: block;
    flex: 2 1 auto;
    padding: 12px;
    font-size: 16px;
    color: white;
}

#menu-menu-sfl {
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stretch {
    flex: 0 0 auto;
    display: flex;
}

.user-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-menu-item {
    margin: auto 4px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#menu-menu-sfl li {
    margin: auto 4px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.menu-icon>svg {
    height: 24px;
    width: 24px;
}

@media (orientation: portrait) and (min-width: 374px) {
    a.menu-icon>svg {
        height: 28px;
        width: 28px;
    }
}

@media (orientation: landscape) {
    a.menu-icon>svg {
        height: 32px;
        width: 32px;
    }
}

a.menu-icon>svg:hover path {
    fill: gold;
}

.logged {
    fill: orange;
    stroke: orange;
}

#item-228>svg:active path {
    background-color: white;
}

div.cart-counter:hover>a>svg path {
    fill: gold;
}

#cart-content {
    position: relative;
    top: 8px;
}

@media (orientation: portrait) and (min-width: 374px),
(orientation: landscape) {
    #cart-content {
        position: relative;
        top: 8px;
    }
}

.cart-item-counter {
    position: relative;
    top: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-item-counter h2 {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media (orientation: portrait) and (min-width: 374px),
(orientation: landscape) {
    .cart-item-counter {
        top: -14px;
    }
}

@media (orientation: landscape) and (min-width: 665px) {
    .cart-item-counter {
        top: -18px;
    }
}