.content-container#services {
    background-color: #333;
}

@media (orientation: landscape) and (min-width: 769px) {
    .section-container#section-services {
        margin: 0 auto;
        width: 769px;
    }
}

.section-header {
    margin: 4px;
    width: 90%;
    display: flex;
    align-items: center;
}

.section-title {
    text-align: left;
}

#services-btn-order {
    display: block;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 232, 84);
    color: black;
    font-size: 14px;
    font-weight: 700;
}

@media (orientation: portrait) and (min-width: 499px),
(orientation: landscape) {
    #services-btn-order {
        display: none;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    #services-btn-order {
        padding: 4px;
        font-size: 16px;
    }
}

.services-icons {
    width: 90%;
}

@media (orientation: portrait) {
    .section-title>.mobile {
        display: block;
    }
    .section-title>.desktop {
        display: none;
    }
}

@media (orientation: portrait) and (min-width: 415px) {
    .section-title>.mobile {
        display: none;
    }
    .section-title>.desktop {
        display: block;
    }
}

@media (orientation: landscape) {
    .section-title>.mobile {
        display: none;
    }
    .section-title>.desktop {
        display: block;
    }
}

.services-icons h3 {
    color: white;
}

.services-icons>.grid-icons {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-type>h3 {
    font-size: 16px;
    margin: 8px 4px;
}

.service-type>img {
    width: 25%;
}

.services-articles {
    /* Position */
    display: flex;
    /* Size */
    width: 90%;
    height: 30%;
    /* Appearence */
    border: 1px solid cyan;
    border-radius: 4px;
    color: white;
    background-color: transparent;
}

.services-articles>article {
    flex: 1 1 100%;
    /* Size */
    padding: 20px 12px;
    /* Children display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.services-articles>* {
    margin-top: 12px;
    margin-bottom: auto;
}

.services-articles>article h1 {
    font-size: 2em;
}

.services-articles>article p {
    width: 75%;
    font-size: 1.5em;
    text-align: center;
}

.services-titles {
    /* Position */
    display: inline-flex;
    align-items: center;
    /* Size */
    width: 90%;
    height: 20%;
    margin-bottom: 74px;
    /* Appearence */
    color: white;
    background-color: transparent;
}

.services-titles>div {
    flex: 1 1 30%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
}

.services-titles>div>img {
    width: 36px;
    height: 36px;
}