.content-container#hours {
    background-color: #222;
    order: 3;
}

.horaires-container {
    padding-top: 8px;
    width: 90%;
    display: flex;
    align-items: center;
}

.horaires-container>* {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.horaires-container>.separator {
    flex: 1 1 4%;
}

.horaires-container>.horaires-heures {
    flex: 1 1 48%;
    align-items: start;
}

.horaires-container>*>* {
    padding: 4px;
    font-size: 1.2em;
    color: white;
}