/* .section-container {
    /* Position
    position: absolute;
    left: 0vw;
    /* Sizes
    width: 100%;
    height: 60vh;
    /* Children display
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.content-container {
    background-color: transparent;
    width: 100%
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-position {
    position: absolute;
    top: -54px;
}


/* #section-1 {
    /* top: 80vh;
    background-color: rgb(100, 100, 100);
}

#section-2 {
    /* top: 140vh;
    background-color: rgb(150, 150, 150);
}

.section-container>h1 {
    margin: 12px auto;
    padding: 12px;
}

.section-container a {
    /* Appearence
    font-size: 2em;
    border-radius: 6px;
}

#to-top {
    /* Position
    position: absolute;
    bottom: 0;
    right: 0;
    /* Sizes */


/* width: 42px;
  height: 42px; */


/* Appearence
    border: none;
    background-color: transparent;
}

#to-top>a {
    font-size: 3em;
}

@media screen and (orientation: landscape) and (max-width: 600px) {
    .section-container {
        height: 80vh;
    }
    #section-1 {
        top: 100vh;
    }
    #section-2 {
        top: 180vh;
    }
} */