body {
    background-color: #fff3e0;
}

.section-container {
    width: 90%;
    margin: 55px auto 0 auto;
}

.section-container .top-bar {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px;
}

.searching {
    stroke-width: 4px;
}

.title.searching {
    display: none;
}

.search-title {
    display: none
}

.search-title.searching {
    display: block;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff3e0;
    color: rgb(255, 99, 71);
    height: 16px;
    text-align: center;
}

input[type="search"]::placeholder {
    color: rgb(255, 99, 71);
}

input[type="search"]:focus {
    outline: none;
}

@media (min-width: 400px) {
    input[type="search"] {
        font-size: 20px;
        height: auto;
    }
}

.top-bar .grid-item.top-title {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar .grid-item.search {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    background-color: transparent;
}

.section-container h1 {
    font-style: normal;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-variant-caps: normal;
    text-align: center;
}

@media (min-width: 400px) {
    .section-container h1 {
        font-size: 20px;
    }
}

.messages {
    margin-top: 20px;
    padding: 20px;
    width: 100vw;
    background-color: black;
    color: white;
    font-weight: bold;
}

.messages.searching {
    background-color: transparent;
}

#btn-search>svg {
    height: 24px;
    width: 24px;
}

#btn-search.searching>svg>g>path {
    fill: rgb(255, 99, 71);
}

#search-box svg {
    background-color: #fff3e0;
    margin: 0;
    padding: 0;
}

.invisible {
    display: none;
}


/* Product list  */

.woocommerce.columns-2 {
    margin-top: 12px;
}

.woocommerce.columns-2.invisible {
    display: none;
}

.woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.woocommerce ul.products::before {
    display: none;
}

.woocommerce.columns-2 ul.products li.product {
    margin: 8px auto;
    width: 90%;
}

.woocommerce.columns-2 ul.products li.product a {
    color: black;
}

.woocommerce.columns-2 ul.products li.product a:hover {
    color: orange;
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
}

#loading.invisible {
    display: none;
}

#Capa_1 {
    width: 36px;
    height: 36px;
    animation: loading 1.2s 0ms infinite normal linear;
    transform-origin: center;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#no-product {
    font-size: 20px;
    text-align: center;
}

.quantifier {
    width: 100%;
    margin: 12px auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
}

.quantifier .grid-item {
    grid-row: 1 / 2;
    background-color: transparent;
}

.quantifier .grid-item.less {
    grid-column: 1 / 2;
}

.quantifier .grid-item.counter {
    grid-column: 2 / 3;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    background-color: white;
}

.quantifier .grid-item.more {
    grid-column: 3 / 4;
}

.quantifier svg {
    width: 20px;
    height: 20px;
}

#Capa_2:hover>g>path {
    fill: blue;
}

#Capa_3:hover>g>path {
    fill: red;
}

#Capa_2:active>g>path,
#Capa_3:active>g>path {
    fill: orange;
}


/* Search list  */

.search-list {
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(8, auto);
    column-gap: 12px;
    row-gap: 8px;
}


/* Search item */

.search-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}